.body {
  height: 100%;
}
#__next {
  height: 100vh !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.divmain{
  height: 100vh !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}